.darkgoldenrodText {
  color: darkgoldenrod;
}

a.darkgoldenrodText:hover {
  color: rgb(140, 103, 8);
}

.noUnderline {
  text-decoration-line: none;
}

.boldText {
  font-weight: 600;
}

.sitePageWrapper {
  background: rgb(234, 238, 241);
  height: 100%;
}

.sitePage {
  width: 70%;
  height: 100%;
  align-content: center;
  margin: 0 auto;
  padding: 0 5%;
  background: white;
}

.pageBlock {
  padding: 25px;
}

.withShadow {
  box-shadow: 0px 8px 18px -10px rgba(145, 145, 145, 1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
  font-size: large;
}

button {
  font-weight: normal;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.changeOpacity {
  -webkit-animation-name: changeOpacity;
  animation-name: changeOpacity;
}
